.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header header"
    "sidebar details"
  ;
}


/*sidebar css*/

/*details css*/
.details{
  grid-area: details;
  overflow-y: auto;
}