/*header css*/
.header {
  height: 100%;
  max-width: var(--tolerable-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 3rem;

  padding: 0 var(--side-padding);

  input {
    flex: 1;
    flex-grow: 1;
    max-width: var(--inpt-max-width);
    min-width: var(--inpt-min-width);

    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid black;
    outline-color: red;
    caret-color: var(--caret-color);
    font-size: 1rem;
  }
}

.hamburger-icon {
  display: none;
}

.notifications-count {
  position: absolute;
  color: var(--notice-cnt-clr);
  font-weight: bold;
  font-size: .8rem;
}

@media (width > 500px) and (width <= 768px){
  .hamburger-icon {
    display: block;
  }
}

@media (width <= 500px) {
  .hamburger-icon {
    display: block;
  }
}