.sidebar {
  grid-area: sidebar;

  height: calc(100vh - var(--header-height));
  width: var(--sidebar-width); 
  
  transition: .3s ease;
  text-wrap: nowrap;
  box-shadow: 1px 0 0 black;

  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas: 
    "logo"
    "icons"
  ;

  .logo-holder {
    grid-area: logo;
    display: none;
  }
}

.hidden {
  width: var(--sidebar-width);
  overflow: hidden;
}

@media (width <= 500px) {
  .hidden{
    width: 0;
  }

  .sidebar {
    position: fixed;
    top: 0;
    height: 100vh;

    .logo-holder {
      display: block;
    }
  }

}