.logo-holder {
  margin-right: auto;

  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  width: calc(var(--sidebar-width) - var(--side-padding));
  gap: 2rem;
}

.logo {
  height: var(--logo-height);
}