*,
*::before,
*::after,
input {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  height: 2px;
  background-color: black;
  width: 100%;
  margin: 10px 0;
}

:root {
  --header-height: 4rem;
  --sidebar-width: 20rem;
  --side-padding: 1rem;
  --logo-height: 30px;
  --svg-height: 30px;
  --bg-clr-btn-dark:rgba(0, 0, 0, 0.15);
  --vh: 100vh;
  --accent-color: red;
  --caret-color: red;
  --inpt-max-width: 30rem;
  --inpt-min-width: 10rem;
  --btn-padding: 12px;
  --notice-cnt-clr: red; /*notification counter color*/
  --tolerable-width: 1200px;
}


.button {
  background-color: transparent;
  border: none;
  position: relative;
  aspect-ratio: 1;
  padding: .2rem;
  border-radius: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;

  padding: var(--btn-padding);

  svg {
    font-size: var(--svg-height);
  }

  .tooltip {
    position: absolute;
    top: 120%;

    background-color:transparent;
    color: transparent;

    border-radius: 5px;
    padding: .5rem 1rem;

    pointer-events: none;
  }
}

.button:hover {
  background-color: var(--bg-clr-btn-dark);
  .tooltip {
    transition: 2s ease;

    background-color: var(--bg-clr-btn-dark);
    color: black;
  }
}